#nav {
	float: top;
	width: 200px;
}



#content {
	float: middle;
	margin: 0 200px;
	padding: 200px 20px 20px;
	text-align: center;
	
}

#text_input {

	padding: 40px 40px 40px;
	text-align: center;
}
#content img {
	display: block;
	margin: 0 auto;
}

#button {
	text-align: center;

}


#foot {
	display: block;
	clear: both;
	margin: 0 200px;
	padding: 15px;
	font-size: 1em;
	left: 800px;
	text-align: center;

}

#foot li{
	display: inline;
	padding: 10px;
}

ul {
	
}
h1 {
	margin: 0;
	padding: 10px;
	
}

.class1 {
	color: black;
	border: 0px
}
