#a {
	text-decoration: none !important;

}

#nav {
	position: absolute;
	top: 4px;
	right: 8px;
}
#nav ul{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}
#nav li {
	padding: 20px 10px;
	float: right;
}
#nav li a:hover{
	text-decoration: underline;
}
#nav a{
	font-size: 14px;
	color: #333;
	display: block;

	text-align: center;
	text-decoration: none;
}
#sign {
	font-weight: bold;
	color: white !important;
	background-color: #4285f4;
	border: solid 0px #4285f4;
	padding: 5px 10px;
	border-radius: 4px;
}
#nav:first-child li{
	padding: 1px 1px;
}


/*.sign_button {
				display: inline-block;
				line-height: 18px;
				border-radius: 4px;
				border: 1px solid #4285f4;
                font-weight: bold;
                outline: none;
                background: #4285f4;
                padding: 0px 12px 0px 0px;
				color: white;
            }
*/
#a {
	text-decoration: none !important;
}

#content {
	margin-top: 200px;
	text-align: center;

}

#text_input {

	padding: 40px 40px 40px;
	text-align: center;
}
#content img {
	display: block;
	margin: 0 auto;
}

#button {
	text-align: center;

}


#bar_text {
	clear: both;
	margin: 0 200px;
	padding: 15px;
	text-align: center;

}

#bar_text a{
	text-decoration: none;
}

#footer {
	background: #f2f2f2;
	line-height: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px
}

#footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#footer a {
	text-decoration: none;
	font-size: 14px;
}

#foot_left {

	margin-right: 10px;
	float: left;
}

#foot_left li{
	float: left;
	padding: 24px 18px;
}

#foot_right {

	margin-left: 10px;
	float: right;

}
#foot_right li{
	float: right;
	padding: 24px 18px;
}
h1 {
	margin: 0;
	padding: 10px;

}

.class1 {
	color: black;
	border: 0px
}
